<h1>All our Cocktails</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="info">Name</th>
    </tr>
  </thead>
  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
        <td><%= link_to "Show", cocktail_path(cocktail) %>|<%= link_to "Edit", edit_cocktail_path(cocktail) %>|<%= link_to "Delete", cocktail_path(cocktail), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4><%= link_to "New cocktail", new_cocktail_path %></h4>
