<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @cocktail.name %></h1>
      <h2><%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %></h2>

      <ul class="list-unstyled">
        <% @cocktail.doses.each do |dose| %>
          <li><%= dose.ingredient.name %> : <%= dose.description %> <%= link_to "<i class='fa fa-close'></i>".html_safe, dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %></li>
        <% end %>
      </ul>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          More Options <span class="selection"></span><span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/cocktails/<%= @cocktail[:id] %>/edit">Edit Name of Cocktail</a></li>
          <li><a href="/cocktails/<%= @cocktail[:id] %>/doses/new">Add/Edit Dose</a></li>
        </ul>
      </div>
      <h5><%= link_to 'Back', cocktails_path %></h5>
    </div>
  </div>
</div>

